@model IEnumerable<Travello.Models.ChatModel>

@{
    ViewData["Title"] = "Chat";
}

<link rel="stylesheet" href="~/css/Chat.css" />
<body>

    @* ดึง navbar มาด้วย *@
    <div class="chat-header">
        <h id="header-let">Let</h>
        <h id="header-chats">CHATS !</h>
    </div>
    <div class="chat-container">
        <img class="chat-background-image" src="~/images/chat_img_background.svg" />
        <div class="white-overlay"></div>
        <div class="search-block">
            <img id="search-icon" src="~/images/search_icon.svg" />
            <p>Search Chat</p>
        </div>
        <div class="chat-list">
            @foreach (var chat in Model.Take(4))
            {
                <div class="chat-room">
                    <img class="event-image" src="~/images/chat_img_background.svg" />
                    <div class="chat-info">
                        <h4 class="chat-info">@chat.chat_name</h4>
                    <div class="info-row">
                        <img class="locate-icon" src="~/images/locate_icon.svg" />
                        <p class="chat-info">@chat.event_id</p>
                    </div>
                    <div class="info-row">
                        <img class="date-icon" src="~/images/date_icon.svg" />
                        <p class="chat-info">@chat.event_id</p>
                    </div>
                    <div class="info-row">
                        <img class="path-icon" src="~/images/path_icon.svg" />
                        <p class="chat-info">@chat.last_message_id@*เวลา message ล่าสุดดึงจาก mesasgemodel*@</p>
                    </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>