MONGODB_CONNECTION_STRING=mongodb+srv://punch:1234@travello.pndhvid.mongodb.net/?appName=Travello
MONGODB_DATABASE_NAME=Travello
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret