@{
    ViewData["Title"] = "profile";
}
<div class="frame_1349">
        <div class="profile-card text-center shadow">
            <div id="frame_photo_text">
                <div id="frame_photo">
                    <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="rounded-circle profile-img" alt="Profile">
                </div>
                <h2 class="fw-bold">Dearja</h2>
                <p class="text-secondary text-uppercase letter-spacing">Man , Age 96</p>
            </div>
        </div>
</div>