@{
    ViewData["Title"] = "profile";
}
<div class="My_profile">
    <div class="frame_1349">
            <div class="profile-card text-center shadow">
                <div id="frame_photo_text">
                    <div id="frame_photo">
                        <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="rounded-circle profile-img" alt="Profile">
                    </div>
                    <div id="frame_text">
                        <h2 class="text_name">Dearja</h2>
                        <p class="text-secondary text-uppercase letter-spacing">Man , Age 96</p>
                    </div>
                </div>
            </div>
            <div class ="frame_1677">
                <div class="box_aboutme">
                    <h1 class="header_abountme">
                        <span class="font_alex">A </span>BOUT ME
                    </h1>
                </div>
                <div class="box_paragraph">
                    <p class="paragraph_abountme">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Illo sit omnis nemo eum tempore enim ab quibusdam cumque ad eaque 
                        facilis quam accusamus minus repellendus et provident, in aperiam soluta!
                    </p>
                </div>
                <div class="box_tag">
                    <h1 class="tag">TAG</h1>
                    <div class="box_element_tag">
                        <div class="tag_item">
                            <span class="tag_icon">🏕️</span>
                            <span class="tag_text">CAMPING</span>
                            <button type="button" class="btn_close_tag">×</button>
                        </div>

                        <div class="tag_item">
                            <span class="tag_icon">📷</span>
                            <span class="tag_text">PHOTOGRAPHY</span>
                            <button type="button" class="btn_close_tag">×</button>
                        </div>

                        <div class="tag_item">
                            <span class="tag_icon">🎒</span>
                            <span class="tag_text">BACKPACKER</span>
                            <button type="button" class="btn_close_tag">×</button>
                        </div>
                    </div>
                </div>
                @* <div class="box_edittag">
                    
                </div> *@

            </div>
        </div>
    <div class="frame_1388">
        <div class="event_post">
            <div class="head_post">
                <p style="font-size: 40px;">ปีนเขาชิวรับเเสงอาทิตย์หน้าหนาว</p>
                <div class="box_post_action">
                 
                    <span>
                        <button type="button" class="box_action text_action box_detail">DETAIL</button>
                    </span>
              
                  
                    <span>
                        <button type="button" class="box_action text_action box_chat">CHAT</button>
                    </span>
                    
                    
                    <span>
                        <button type="button" class="box_action text_action box_delete">DELETE</button>
                    </span>
    
                </div>
            </div>
            <p class="paragraph_post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est nostrum repellendus molestias illum sed earum velit beatae magnam, 
                qui ratione similique officia. Voluptas necessitatibus veniam dolorem sequi, repudiandae corrupti dicta.</p>
            <div class="photo_post">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
            </div>
            
        </div>
        
    </div>
    <div class="frame_1388">
        <div class="event_post">
            <div class="head_post">
                <p style="font-size: 40px;">ปีนเขาชิวรับเเสงอาทิตย์หน้าหนาว</p>
                <div class="box_post_action">
                 
                    <span>
                        <button type="button" class="box_action text_action box_detail">DETAIL</button>
                    </span>
              
                  
                    <span>
                        <button type="button" class="box_action text_action box_chat">CHAT</button>
                    </span>
                    
                    
                    <span>
                        <button type="button" class="box_action text_action box_delete">DELETE</button>
                    </span>
    
                </div>
            </div>
            <p class="paragraph_post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est nostrum repellendus molestias illum sed earum velit beatae magnam, 
                qui ratione similique officia. Voluptas necessitatibus veniam dolorem sequi, repudiandae corrupti dicta.</p>
            <div class="photo_post">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
            </div>
            
        </div>
        
    </div>
    <div class="frame_1388">
        <div class="event_post">
            <div class="head_post">
                <p style="font-size: 40px;">ปีนเขาชิวรับเเสงอาทิตย์หน้าหนาว</p>
                <div class="box_post_action">
                 
                    <span>
                        <button type="button" class="box_action text_action box_detail">DETAIL</button>
                    </span>
              
                  
                    <span>
                        <button type="button" class="box_action text_action box_chat">CHAT</button>
                    </span>
                    
                    
                    <span>
                        <button type="button" class="box_action text_action box_delete">DELETE</button>
                    </span>
    
                </div>
            </div>
            <p class="paragraph_post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est nostrum repellendus molestias illum sed earum velit beatae magnam, 
                qui ratione similique officia. Voluptas necessitatibus veniam dolorem sequi, repudiandae corrupti dicta.</p>
            <div class="photo_post">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
                <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-palm-tree_74190-6843.jpg?semt=ais_user_personalization&w=740&q=80" class="photo_post_item" alt="Post Photo">
            </div>
            
        </div>
        
    </div>
    
</div>
    